/** Eternity-Vision */
$Wdkit_blue_normal: #040483;
$Wdkit_blue_hover: #030369;
$Wdkit_outer_border_bg: #03036808;
$Wdkit_pink_normal: #C22076;
$Wdkit_pink_hover: #9B1A5E;
$Wdkit_font_family: 'Plus Jakarta Sans', sans-serif;
$Wdkit_primary_color: #0116270D;
$Wdkit_secondary_color: #ffffff;
$radius_big: 10px;
$radius_small: 6px;
$color_white: #ffffff;