/** Eternity-Vision */


/** es main color */
$es_pink: #E93558;
$es_pink_hover: #cb3351;
$es_purple: #7026ED;
$es_black: #150425;
$es_white: #F3EFFE;
$es_font_family: "Lato", serif;


/** border and transition parameters */
$radius_big: 10px;
$radius_small: 6px;
$transition: 0.3s linear;